{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div class="row">
    {% for mediaItem in gallery.galleryItems %}
        <div class="thumbnail col-3">
            <a href="{{ sonata_path(mediaItem.media, 'big')  }}" data-toggle="lightbox" data-gallery="gallery_{{ gallery.id }}">
                {{ sonata_thumbnail(mediaItem.media, 'small')  }}
            </a>
            {% if  mediaItem.media.name is defined %}
                <h5>{{ mediaItem.media.name }}</h5>
            {% endif %}
            {% if  mediaItem.media.description is defined %}
                <p>{{ mediaItem.media.description }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>



